<h1>new User</h1>
<%= form_for @user do |f|%>

<div>
<%= f.label :Email%>
<%= f.text_field :email %>
</div><br/>


<div>
<%= f.label :password%>
<%= f.password_field :password %>
</div><br/>


<div>
<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation %>
</div><br/>
<%= f.submit :signup %>
<% end%>